* {
  Color:darkblue;
  background-color: #e0e0d1;


}

h1 {
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  width: 30%;
  text-align: center;
}

p {
  border: 1px dotted blue;
  margin: 10px 150px;
  text-align: center;
}
h2 {
  color:black;
  border-color: blue;
  border: 5px;
  border-style: solid;
}
ol li {
  color: darkgreen;
}
